In [ ]:
Hikingbook_4月資料

In [1]:
import pandas as pd
import numpy as np
from glob import glob
df = pd.read_csv('./2021 Hikingbook 數據駭客松/2020-04.csv')
df

,經度,緯度,海拔高度,瞬間速度,前進方向,時間,上傳時間
0,121.745144,24.832645,160.587888,1.215380,219.422561,1/4/2020 00:00:08+00,5/5/2020 11:36:31.760993+00
1,121.745096,24.832624,160.846931,1.107548,236.375206,1/4/2020 00:00:13+00,5/5/2020 11:36:31.823893+00
2,121.744979,24.832565,162.443195,1.163903,252.993928,1/4/2020 00:01:29+00,5/5/2020 11:36:31.911234+00
3,121.016682,24.200348,1038.272700,0.549544,172.306771,1/4/2020 00:01:39+00,15/11/2020 07:07:50.566576+00
4,121.744859,24.832532,163.650046,1.193613,263.254629,1/4/2020 00:01:42+00,5/5/2020 11:36:31.959972+00
...,...,...,...,...,...,...,...
1127210,121.355658,24.245098,3205.774871,0.000000,137.251905,30/4/2020 23:59:57+00,23/6/2020 01:38:41.341987+00
1127211,121.736313,24.841274,394.070955,1.513941,326.328290,30/4/2020 23:59:57+00,15/6/2020 03:29:11.330069+00
1127212,121.017582,24.197254,1053.154776,0.590000,69.257812,30/4/2020 23:59:57+00,3/12/2020 03:08:02.534874+00
1127213,121.273127,24.436507,3001.534553,0.372362,196.827160,30/4/2020 23:59:58+00,29/9/2020 08:40:55.15615+00
1127214,120.838539,24.069133,860.792230,0.000000,311.058475,30/4/2020 23:59:58+00,4/5/2020 10:20:10.772488+00

## 篩選所需欄位

In [2]:
df = df[['經度', '緯度', '海拔高度', '時間']]
df

                 經度         緯度         海拔高度                     時間
0        121.745144  24.832645   160.587888   1/4/2020 00:00:08+00
1        121.745096  24.832624   160.846931   1/4/2020 00:00:13+00
2        121.744979  24.832565   162.443195   1/4/2020 00:01:29+00
3        121.016682  24.200348  1038.272700   1/4/2020 00:01:39+00
4        121.744859  24.832532   163.650046   1/4/2020 00:01:42+00
...             ...        ...          ...                    ...
1127210  121.355658  24.245098  3205.774871  30/4/2020 23:59:57+00
1127211  121.736313  24.841274   394.070955  30/4/2020 23:59:57+00
1127212  121.017582  24.197254  1053.154776  30/4/2020 23:59:57+00
1127213  121.273127  24.436507  3001.534553  30/4/2020 23:59:58+00
1127214  120.838539  24.069133   860.792230  30/4/2020 23:59:58+00

[1127215 rows x 4 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1127215 entries, 0 to 1127214
Data columns (total 4 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   經度      1127215 non-null  float64
 1   緯度      1127215 non-null  float64
 2   海拔高度    1127215 non-null  float64
 3   時間      1127215 non-null  object
dtypes: float64(3), object(1)
memory usage: 34.4+ MB

## 將時間格式調整成年月日

In [4]:
df['時間']=df['時間'].astype('string')
df['時間'] = df['時間'].str.split(' ')
df['時間'] = df['時間'].apply(lambda x: x[0])
df['時間'] = df['時間'].str.split('/')
df['時間'] = df['時間'].apply(lambda x: x[2]+'/'+x[1]+'/'+x[0])
df

<ipython-input-4-499c5703c1d3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['時間']=df['時間'].astype('string')
<ipython-input-4-499c5703c1d3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['時間'] = df['時間'].str.split(' ')
<ipython-input-4-499c5703c1d3>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['時間'] = df['時間'].apply(lambda x: x[0])
<ipython-input-4-499c5703c1d3>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['時間'] = df['時間'].str.split('/')
<ipython-input-4-499c5703c1d3>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['時間'] = df['時間'].apply(lambda x: x[2]+'/'+x[1]+'/'+x[0])

                 經度         緯度         海拔高度         時間
0        121.745144  24.832645   160.587888   2020/4/1
1        121.745096  24.832624   160.846931   2020/4/1
2        121.744979  24.832565   162.443195   2020/4/1
3        121.016682  24.200348  1038.272700   2020/4/1
4        121.744859  24.832532   163.650046   2020/4/1
...             ...        ...          ...        ...
1127210  121.355658  24.245098  3205.774871  2020/4/30
1127211  121.736313  24.841274   394.070955  2020/4/30
1127212  121.017582  24.197254  1053.154776  2020/4/30
1127213  121.273127  24.436507  3001.534553  2020/4/30
1127214  120.838539  24.069133   860.792230  2020/4/30

[1127215 rows x 4 columns]

In [5]:
df['時間']=df['時間'].astype('datetime64')
df

<ipython-input-5-f813035dd340>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['時間']=df['時間'].astype('datetime64')

                 經度         緯度         海拔高度         時間
0        121.745144  24.832645   160.587888 2020-04-01
1        121.745096  24.832624   160.846931 2020-04-01
2        121.744979  24.832565   162.443195 2020-04-01
3        121.016682  24.200348  1038.272700 2020-04-01
4        121.744859  24.832532   163.650046 2020-04-01
...             ...        ...          ...        ...
1127210  121.355658  24.245098  3205.774871 2020-04-30
1127211  121.736313  24.841274   394.070955 2020-04-30
1127212  121.017582  24.197254  1053.154776 2020-04-30
1127213  121.273127  24.436507  3001.534553 2020-04-30
1127214  120.838539  24.069133   860.792230 2020-04-30

[1127215 rows x 4 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1127215 entries, 0 to 1127214
Data columns (total 4 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   經度      1127215 non-null  float64
 1   緯度      1127215 non-null  float64
 2   海拔高度    1127215 non-null  float64
 3   時間      1127215 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(3)
memory usage: 34.4 MB

## 為了刪除重複值，刪除條件同一天經緯度到小數第三位相同者視為重複登山軌跡

In [7]:
df['新經度'] = ''
df['新緯度'] = ''
df['新時間'] = ''
df

<ipython-input-7-689849414c7d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['新經度'] = ''
<ipython-input-7-689849414c7d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['新緯度'] = ''

                 經度         緯度         海拔高度         時間 新經度 新緯度 新時間
0        121.745144  24.832645   160.587888 2020-04-01
1        121.745096  24.832624   160.846931 2020-04-01
2        121.744979  24.832565   162.443195 2020-04-01
3        121.016682  24.200348  1038.272700 2020-04-01
4        121.744859  24.832532   163.650046 2020-04-01
...             ...        ...          ...        ...  ..  ..  ..
1127210  121.355658  24.245098  3205.774871 2020-04-30
1127211  121.736313  24.841274   394.070955 2020-04-30
1127212  121.017582  24.197254  1053.154776 2020-04-30
1127213  121.273127  24.436507  3001.534553 2020-04-30
1127214  120.838539  24.069133   860.792230 2020-04-30

[1127215 rows x 7 columns]

In [8]:
df['新時間']=df['時間']#.dt.strftime('%Y-%m-%d')
df['新經度']=df['經度'].round(4)
df['新緯度']=df['緯度'].round(4)
df

,經度,緯度,海拔高度,時間,新經度,新緯度,新時間
0,121.745144,24.832645,160.587888,2020-04-01,121.7451,24.8326,2020-04-01
1,121.745096,24.832624,160.846931,2020-04-01,121.7451,24.8326,2020-04-01
2,121.744979,24.832565,162.443195,2020-04-01,121.7450,24.8326,2020-04-01
3,121.016682,24.200348,1038.272700,2020-04-01,121.0167,24.2003,2020-04-01
4,121.744859,24.832532,163.650046,2020-04-01,121.7449,24.8325,2020-04-01
...,...,...,...,...,...,...,...
1127210,121.355658,24.245098,3205.774871,2020-04-30,121.3557,24.2451,2020-04-30
1127211,121.736313,24.841274,394.070955,2020-04-30,121.7363,24.8413,2020-04-30
1127212,121.017582,24.197254,1053.154776,2020-04-30,121.0176,24.1973,2020-04-30
1127213,121.273127,24.436507,3001.534553,2020-04-30,121.2731,24.4365,2020-04-30
1127214,120.838539,24.069133,860.792230,2020-04-30,120.8385,24.0691,2020-04-30

## 檢查重複值

In [9]:
bool_=df.duplicated(['新時間','新經度','新緯度'])
bool_

0          False
1           True
2          False
3          False
4          False
           ...
1127210    False
1127211    False
1127212    False
1127213    False
1127214    False
Length: 1127215, dtype: bool

In [10]:
df=df[~bool_]
df

,經度,緯度,海拔高度,時間,新經度,新緯度,新時間
0,121.745144,24.832645,160.587888,2020-04-01,121.7451,24.8326,2020-04-01
2,121.744979,24.832565,162.443195,2020-04-01,121.7450,24.8326,2020-04-01
3,121.016682,24.200348,1038.272700,2020-04-01,121.0167,24.2003,2020-04-01
4,121.744859,24.832532,163.650046,2020-04-01,121.7449,24.8325,2020-04-01
6,121.744734,24.832568,165.650163,2020-04-01,121.7447,24.8326,2020-04-01
...,...,...,...,...,...,...,...
1127210,121.355658,24.245098,3205.774871,2020-04-30,121.3557,24.2451,2020-04-30
1127211,121.736313,24.841274,394.070955,2020-04-30,121.7363,24.8413,2020-04-30
1127212,121.017582,24.197254,1053.154776,2020-04-30,121.0176,24.1973,2020-04-30
1127213,121.273127,24.436507,3001.534553,2020-04-30,121.2731,24.4365,2020-04-30
1127214,120.838539,24.069133,860.792230,2020-04-30,120.8385,24.0691,2020-04-30

## 設立特徵值欄位

In [12]:
df['地區'] = ''
df['難易度'] = ''
df

<ipython-input-12-78364bfb61f6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['地區'] = ''
<ipython-input-12-78364bfb61f6>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['難易度'] = ''

,經度,緯度,海拔高度,時間,新經度,新緯度,新時間,地區,難易度
0,121.745144,24.832645,160.587888,2020-04-01,121.7451,24.8326,2020-04-01,,
2,121.744979,24.832565,162.443195,2020-04-01,121.7450,24.8326,2020-04-01,,
3,121.016682,24.200348,1038.272700,2020-04-01,121.0167,24.2003,2020-04-01,,
4,121.744859,24.832532,163.650046,2020-04-01,121.7449,24.8325,2020-04-01,,
6,121.744734,24.832568,165.650163,2020-04-01,121.7447,24.8326,2020-04-01,,
...,...,...,...,...,...,...,...,...,...
1127210,121.355658,24.245098,3205.774871,2020-04-30,121.3557,24.2451,2020-04-30,,
1127211,121.736313,24.841274,394.070955,2020-04-30,121.7363,24.8413,2020-04-30,,
1127212,121.017582,24.197254,1053.154776,2020-04-30,121.0176,24.1973,2020-04-30,,
1127213,121.273127,24.436507,3001.534553,2020-04-30,121.2731,24.4365,2020-04-30,,
1127214,120.838539,24.069133,860.792230,2020-04-30,120.8385,24.0691,2020-04-30,,

In [13]:
# 依經緯度分類
for i in range(len(df.index)):
    df.iloc[i,0:1] = df.iloc[i,0:1].astype('float')
    df.iloc[i,1:2] = df.iloc[i,1:2].astype('float')
    if ((df.iloc[i,0:1] > 120.928106).bool() & (df.iloc[i,0:1] < 121.974009).bool()) & ((df.iloc[i,1:2] > 24.337212).bool() & (df.iloc[i,1:2] < 25.287215).bool()):
        df.iloc[i,7] = 'north'
    elif ((df.iloc[i,0:1] > 120.178714).bool() & (df.iloc[i,0:1] < 121.232306).bool()) & ((df.iloc[i,1:2] > 23.586379).bool() & (df.iloc[i,1:2] < 24.323078).bool()):
        df.iloc[i,7] = 'central'
    elif ((df.iloc[i,0:1] > 120.107906).bool() & (df.iloc[i,0:1] < 120.877717).bool()) & ((df.iloc[i,1:2] > 21.961942).bool() & (df.iloc[i,1:2] < 23.567702).bool()):
        df.iloc[i,7] = 'south'
    
    else:
        df.iloc[i,7] = 'east'

C:\Users\Tibame_25\AppData\Roaming\Python\Python39\site-packages\pandas\core\indexing.py:1700: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, v, pi)
C:\Users\Tibame_25\AppData\Roaming\Python\Python39\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [14]:
# 難易度分類

df['難易度'] = df['海拔高度'].apply(lambda x: 'easy' if x <1500 \
                              else 'normal' if x<3000 and x>=1500 \
                              else 'hard')
df

<ipython-input-14-9761b8b4f7de>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['難易度'] = df['海拔高度'].apply(lambda x: 'easy' if x <1500 \

,經度,緯度,海拔高度,時間,新經度,新緯度,新時間,地區,難易度
0,121.745144,24.832645,160.587888,2020-04-01,121.7451,24.8326,2020-04-01,north,easy
2,121.744979,24.832565,162.443195,2020-04-01,121.7450,24.8326,2020-04-01,north,easy
3,121.016682,24.200348,1038.272700,2020-04-01,121.0167,24.2003,2020-04-01,central,easy
4,121.744859,24.832532,163.650046,2020-04-01,121.7449,24.8325,2020-04-01,north,easy
6,121.744734,24.832568,165.650163,2020-04-01,121.7447,24.8326,2020-04-01,north,easy
...,...,...,...,...,...,...,...,...,...
1127210,121.355658,24.245098,3205.774871,2020-04-30,121.3557,24.2451,2020-04-30,east,hard
1127211,121.736313,24.841274,394.070955,2020-04-30,121.7363,24.8413,2020-04-30,north,easy
1127212,121.017582,24.197254,1053.154776,2020-04-30,121.0176,24.1973,2020-04-30,central,easy
1127213,121.273127,24.436507,3001.534553,2020-04-30,121.2731,24.4365,2020-04-30,north,hard
1127214,120.838539,24.069133,860.792230,2020-04-30,120.8385,24.0691,2020-04-30,central,easy

## 儲存成csv檔

In [15]:
df.to_csv('Hikingbook_4月資料.csv')